<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBanDienThoai"
        tools:targetApi="31">
        <activity
            android:name=".TrangChuNguoiDung_Activity"
            android:exported="true" />
        <activity
            android:name=".TrangChuAdmin_Activity"
            android:exported="true" />
        <activity
            android:name=".TrangCaNhanNguoiDung_Activity"
            android:exported="true" />
        <activity
            android:name=".TrangCaNhanAdmin_Activity"
            android:exported="true" />
        <activity
            android:name=".TimKiemSanPham_Activity"
            android:exported="true" />
        <activity
            android:name=".ThongTinThanhToan_Activity"
            android:exported="true" />
        <activity
            android:name=".ThemTaiKhoan_Activity"
            android:exported="true" />
        <activity
            android:name=".ThemSanPham_Activity"
            android:exported="true" />
        <activity
            android:name=".ThemNhomSanPham_Activity"
            android:exported="true" />
        <activity
            android:name=".SuaSanPham_Activity"
            android:exported="true" />
        <activity
            android:name=".SuaNhomSanPham_Activity"
            android:exported="true" />
        <activity
            android:name=".SanPhamAdmin_Activity"
            android:exported="true" />
        <activity
            android:name=".ChiTietDonHangAdmin_Activity"
            android:exported="true" />
        <activity
            android:name=".NhomSanPhamAdmin_Activity"
            android:exported="true" />
        <activity
            android:name=".GioHang_Activity"
            android:exported="true" />
        <activity
            android:name=".DonHangUser_Activity"
            android:exported="true" />
        <activity
            android:name=".DonHangAdmin_Activity"
            android:exported="true" />
        <activity
            android:name=".DanhMucSanPham_Activity"
            android:exported="true" />
        <activity
            android:name=".DangKiTaiKhoan_Activity"
            android:exported="true" />
        <activity
            android:name=".ChiTietSanPham_Activity"
            android:exported="true" />
        <activity
            android:name=".ChiTietDonHang_Activity"
            android:exported="true" />
        <activity
            android:name=".TaiKhoan_admin_Activity"
            android:exported="true" />
        <activity
            android:name=".SuaTaiKhoan_Activity"
            android:exported="true" />
        <activity
            android:name=".DoiMatKhau_Activity"
            android:exported="true" />
        <activity
            android:name=".Login_Activity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>